{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="gallery">

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/kyoto3.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/kyoto3.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/kyoto3.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/kyoto3.jpg" alt="kyoto">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/a_japan.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/a_japan.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/a_japan.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/a_japan.jpg" alt="a i japan">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/sake.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/sake.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/sake.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/sake.jpg" alt="sake">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/kyoto2.jpg">
                    <picture>
                        <source media="(max-width: 767px)" srcset="{{ base_url }}/image/kyoto2.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 768px)" srcset="{{ base_url }}/image/kyoto2.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/kyoto2.jpg" alt="kyoto 2">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/lights.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/lights.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/lights.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/lights.jpg" alt="lights">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/deer.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/deer.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/deer.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/deer.jpg" alt="deer">
                    </picture>
                </a>
            </div>


            <div class="img-container">
                <a href="{{ base_url }}/assets/img/kyoto.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/kyoto.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/kyoto.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/kyoto.jpg" alt="kyoto">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/deer2.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/deer2.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/deer2.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/deer2.jpg" alt="deer2">
                    </picture>
                </a>
            </div>


            <div class="img-container">
                <a href="{{ base_url }}/assets/img/osaka.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/osaka.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/osaka.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/osaka.jpg" alt="osaka">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/gold.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/gold.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/gold.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/gold.jpg" alt="gold">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/tokyo.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/tokyo.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/tokyo.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/tokyo.jpg" alt="tokyo">
                    </picture>
                </a>
            </div>

            <div class="img-container">
                <a href="{{ base_url }}/assets/img/shrine_edit.jpg">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{{ base_url }}/image/shrine_edit.jpg?h=300&w=300&crop-to-fit">
                        <source media="(min-width: 751px)" srcset="{{ base_url }}/image/shrine_edit.jpg?h=400&w=400&crop-to-fit">
                        <img class="gallery-pic" src="{{ base_url }}/image/shrine_edit.jpg" alt="shrine">
                    </picture>
                </a>
            </div>
        </div>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/3GRSbr0EYYU" frameborder="0" allowfullscreen></iframe>
        </div>
        
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
